<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transformation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transformation">
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnFriWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnThurWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnWedWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnTuesWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnMonWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnSunWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".DoneScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".FatBurn.ActivityWorkoutDays.FatBurnSatWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnFriListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnThursListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnWedListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnTuesListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnMonListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnSunListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.ActivityListDays.FatBurnSatListActivity"
            android:exported="false" />
        <activity
            android:name=".FatBurn.FatBurnListActivity"
            android:exported="false" />
        <activity
            android:name=".CalorieCountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>